


/* bew bar */


.bg-img{
    /* background-image: url("../images/latest/bg-img.jpeg");
     height: 100vh;
     width: 100%;
     background-repeat:  no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover; */
 height: 98vh;
     width: 100%;
     background: url(../assests/bgg1.jpeg  );
     background-size: 100% 100%;
     background-repeat: no-repeat;
 }

 
.latest-rolls{
    height: 21rem;
}
.statistic{
    width: 11rem;
    height: 13em;

}
.bars-grid{
    position: relative;
    top: 21.5rem;
    z-index: 1;
    left: 0;

}
.bg-light{
    background-color: #ffffff
}

.bar-h{
    height: 14rem;
}


.place-bet{
    height: 4rem;
}
.place-btn{
    height: 6.5rem;
    width: 100%;
    position: relative;
    bottom: 3.5rem;
}

.betchip{
    width: 100%;
    position: relative;
    left: 0.6rem;
    bottom: 1rem;
}







/* end */
body {
    margin: 0;
    padding: 0;
}
/* .gamesize{
    width:1024px ;
    height: 1440px;

} */
.modal-90w{
    max-width: 100%;
    /* margin: 1.75rem auto; */
    /* background-color: #561013 !important; */
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color:unset;
    background-clip: padding-box;
    border:none;
    border-radius: .3rem;
    outline: 0;
}
.close {
    position: relative;
    color: red;
    top: 6rem;
    text-decoration: none;
    right: 6rem;
    z-index: 3;
}
.close:hover {
    color: #000;
    text-decoration: none;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
}

.chatt{
    width: 85px;
    position: relative;
    top: 27%;
}

.bal{
   height: 37px;
}
.bet_range{
    background: #e4e1e1;
    font-size: 10px;
    padding: 6px;
    font-weight: 600;
    font-family: sans-serif;
    border-radius: 10px;

    }

small{
    font-size: 74%;
      font-weight: 800;
  }

  .bg-color{
    /* background-color: black; */
    background-image: url('../assests/bgg1.jpeg');
    height: 95vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
/* .bg_video {
    width: 100%;
    height: auto;
    z-index: 0;
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
} */
.bg{
/* background: #cccdcf; */
border-radius: 10px;
height: 100%;
}


/* .number{

    position:absolute;
    left: 36%;
    top: 34%;
    height: 22px;
    z-index:2;
} */


.background_color{
/* background: #cccdcf; */
border-radius: 10px;
height: 66px;
width: 50px;
}
.square{
    width: 100%;
    height: 41px

}
.place-bet{
    height: 4rem;
}
.place-btn{
    height: 8rem;
    width: 120%;
    position: relative;
    bottom: 4rem;
}




.slider {
    -webkit-appearance: none;
    width: 218px;
    height: 11px;
    right: 85px;
    position: relative;
    border-radius: 5px;
    background: #ede6e6f0;
    outline: none;
    /* opacity: 0.7; */
    transform: rotate(-90deg);
    transition: opacity .2s;
    bottom: m;
    top: 5.9rem;
        }
    .slider:hover {
            opacity: 1;
        }
    
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 30px;
            height: 30px;
            border-radius: 50%;
             background:url('../assests/bar1.png');
             /* background-color: #561013; */
    
               cursor: pointer;
        }
    
        .slider::-moz-range-thumb {
             width: 30px;
            height: 30px;
    
            border-radius: 50%;
             background:url('../assests/bar1.png');
             /* background-color: #561013; */
    
            cursor: pointer;
        }
        .sliderbg{
            background-color: #ffffffd4;
            height: 15rem;
            top: 1rem;
            width: 3rem;
            position: relative;
            right: 0rem;
            border-radius: 10px;
         /* background-image: url('../assests/Bet_range.png');
         background-repeat: no-repeat; */
           
         }
         .betvalue{
            height: 23px;
            position: relative;
            left: 0.1rem;
            top: 0.2rem;
         }
         .value{

         }
         .value1{
           position: absolute;
            left: 0.5rem;
            top: 0.5rem;
            font-family: monospace;
            
            text-align: center;
            color:#be0a0a;
        
         }
         .balance{
            position: absolute;
    
    top: 1.8rem;
    text-align: center;
    font-family: monospace;
    font-size: 1.2rem;
    /* right: 11.4rem; */
    left: 3rem;

         }
         .totalbet{
            font-family: monospace;
            position: absolute;
            
            text-align: center;
            right: 4rem;
            top: 1.7rem;
            font-size: 1.2rem;
            /* font-weight: bold; */
        
         }
         .max-bet-bars{
            width: 58px;
        }

        .max-bet{
            /* background: url('../images/latest/Zx0TNMsw.png'); */
            background-repeat: no-repeat;
            height: 4.2rem;
        }
        

        .fa {
  
            color: white;
            padding: 5px;
            margin: 10px;
            border: 1px solid #525050;
            border-radius: 50%;
        }
       
        .icons{
            height: 33px;
            /* width: 100%; */
            /* margin-right: 16px; */
        }


        /* new one */


    .max-bet{
        /* background: url('../images/latest/Zx0TNMsw.png'); */
        background-repeat: no-repeat;
        height: 4.2rem;
    }
    .btn-grp{
        width: 100%;
        height: 3rem;
    
    }
    .btn-grp > img {
        width: 17%;
    }
    .place-bet{
        height: 4rem;
    }
    .place-btn{
        height: 6.5rem;
        width: 100%;
        position: relative;
        bottom: 3.5rem;
    }
    
    .latest-rolls{
        height: 21rem;
    }
    .statistic{
        width: 11rem;
        height: 15rem;
    
    }
    .bars-grid{
        position: relative;
        top: 21rem;
        z-index: 1;
        left: 5.8rem;
    }
    .bars{
        padding: 0;
    }
    .bar-style{
        /* width: 100%; */
        width: 100%;
        top: 3rem;
        position: relative;
    }
    .bet-amt-range{
        position: relative;
        bottom: 14rem;
        width: 100%;
        z-index: 1;
    }
    
    .max-bet-bars{
        width: 58px;
    }
    .fa {
      
        color: white;
        padding: 5px;
        margin: 10px;
        border: 1px solid #525050;
        border-radius: 50%;
    }
    .chat-box{
        height: 40%;
    }
    .icons{
        height: 33px;
        cursor: pointer;
        /* width: 100%; */
        /* margin-right: 16px; */
    }
    .bar1{
        right: 5.7rem;

    }
    .bar2{
        right: 5.9rem;
    }
    .bar3{
        right: 5.9rem;
    }
    .bar4{
        right: 6rem;
    }
    .bar5{
        right: 6rem;
    }
    .bar6{
        right: 6.2rem;
    }
    .cursor{
        cursor: pointer;
    }
    .bar-pad{
        background: url('../assests/bet_pad.png');
        width: 100%;
        background-repeat: no-repeat;
        /* line-height: 300px; */
        background-size: cover;
        /* position: absolute; */
        text-align: center;
    }

    .click_number_text{
        height: 6px;
    }
    
@media (min-width: 576px){
    .modal-dialog {
        
            max-width: 95%;
            margin: -3rem auto;
        
    }
    }
    